* {
    box-sizing: border-box;
  }

  html,
  body {
    padding: 0;
    margin: 0;
    color: #333333;
    font-family: "Segoe UI Regular WestEuropean", "Segoe UI", Tahoma, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
  }

  body {
    padding: 0;
    margin: 0;
  }

  h1 {
    margin: 16px;
    margin-bottom: 0;
  }

  h1 + p {
    margin: 0 16px;
    margin-bottom: 16px;
  }

  #search {
    float: right;
    width: 200px;
  }

  .IconContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 14px;
    float: left;
    width: 68px;
    height: 68px;
    line-height: 51px;
    overflow: hidden;
    align-items: center;
  }
  
  .IconContainer[hidden] {
    display: none !important;
  }
  
  .IconContainer:hover {
    background: #f3f2f1;
    z-index: -1;
  }
  
  .IconContainer:focus {
    background: #f3f2f1;
    outline: 1px solid #0078d4;
  }
  
  .IconContainer:focus .IconContainer-name {
    display: block;
    position: absolute;
    bottom: 0;
    width: auto;
    top: auto;
    background: gray;
    height: 20px;
    color: #fff;
    white-space: nowrap;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    min-width: 100%;
  }

  .IconContainer-icon {
    display: block;
    height: 48px;
    width: 48px;
    text-align: center;
  }

  .IconContainer-name,
  .IconContainer-unicode {
    display: none;
  }

  .ms-Icon {
    font-size: 32px;
    line-height: 48px;
  }